@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f14eyo');
  src:  url('fonts/icomoon.eot?f14eyo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f14eyo') format('truetype'),
    url('fonts/icomoon.woff?f14eyo') format('woff'),
    url('fonts/icomoon.svg?f14eyo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-briefcase:before {
  content: "\e9ae";
}

